dist: trusty
sudo: required
language: python
python:
  - "3.6"
install:
  - "sudo apt-get -y update"
  - "sudo apt-get -y install  python3-pip"
  - "pip3 install cairosvg pylint"
script:
  - "find -name \"*.py\" | xargs pylint --disable=C0103 $1"
